global:
  # How frequently to scrape targets by default.
  # Default 15s
  scrape_interval: 60s
  # How frequently to evaluate rules.
  # Default 15s
  evaluation_interval: 15s
  # How long until a scrape request times out.
  # Default to 10s.
  # Required because cp-demo is using cpu throttling, so let's leave enough time to fetch the metrics in particular for the first time as it needs to compile all rexps
  scrape_timeout: 30s

rule_files:
  - "alert.rules"

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets:
            - "alertmanager:9093"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: Confluent Cloud
    scrape_interval: 1m
    scrape_timeout: 1m
    honor_timestamps: true
    static_configs:
      - targets:
          - api.telemetry.confluent.cloud
    scheme: https
    basic_auth:
      username: <Cloud API Key>
      password: <Cloud API Secret>
    metrics_path: /v2/metrics/cloud/export
    params:
      "resource.kafka.id":
        - lkc-5onvzn


#  - job_name: "streams-demo"
#    static_configs:
#      - targets:
#          - "streams-demo:1234"
#        labels:
#          env: "dev"
#    relabel_configs:
#      - source_labels: [__address__]
#        target_label: instance
#        regex: '([^:]+)(:[0-9]+)?'
#        replacement: '${1}'

  # Metrics about the OTEL Collector itself
  - job_name: 'OTEL'
    static_configs:
      - targets:
          - 'collector:1234'
        labels:
          env: 'dev'
          application: 'otel-collector'

  # chuck-fact-producer
  - job_name: 'fact-producer'
    static_configs:
      - targets:
          - 'chuck-fact-producer:1234'
        labels:
          env: 'dev'
          application: 'chuck-fact-producer'
  # chuck-fact-consumer
  - job_name: 'chuck-fact-consumer'
    static_configs:
      - targets:
          - 'chuck-fact-consumer:1234'
        labels:
          env: 'dev'
          application: 'chuck-fact-consumer'

  # chuck-fact-wordcount-kstream
  - job_name: 'chuck-fact-wordcount-kstream'
    static_configs:
      - targets:
          - 'chuck-fact-wordcount-kstream:1234'
        labels:
          env: 'dev'
          application: 'chuck-fact-wordcount-kstream'

  # chuck-wordcount-consumer
  - job_name: 'chuck-wordcount-consumer'
    static_configs:
      - targets:
          - 'chuck-wordcount-consumer:1234'
        labels:
          env: 'dev'
          application: 'chuck-wordcount-consumer'

  # chuck-fact-stats
  - job_name: 'chuck-fact-stats'
    static_configs:
      - targets:
          - 'chuck-fact-stats:1234'
        labels:
          env: 'dev'
          application: 'chuck-fact-stats'

  # chuck-fact-stats-consumer
  - job_name: 'chuck-fact-stats-consumer'
    static_configs:
      - targets:
          - 'chuck-fact-stats-consumer:1234'
        labels:
          env: 'dev'
          application: 'chuck-fact-stats-consumer'