---
services:
  prometheus:
    image: prom/prometheus:v2.36.2
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
    volumes:
      - ./monitoring/assets/prometheus/prometheus-config/:/etc/prometheus

  grafana:
    image: grafana/grafana:9.0.2
    environment:
      - "GF_SECURITY_ADMIN_USER=admin"
      - "GF_SECURITY_ADMIN_PASSWORD=password"
      - "GF_USERS_ALLOW_SIGN_UP=false"
    ports:
      - "3000:3000"
    volumes:
      - ./monitoring/assets/grafana/provisioning/:/etc/grafana/provisioning

  # Zipkin
  zipkin:
    image: openzipkin/zipkin:latest
    ports:
      - "9411:9411"
    environment:
      JAVA_OPTS: -Xms1g -Xmx1g -XX:+ExitOnOutOfMemoryError

  # Jaeger
  jaeger:
   image: jaegertracing/all-in-one:latest
   ports:
     - "16686:16686"
     - "14268"
     - "14250"
   environment:
     - COLLECTOR_OTLP_ENABLED=true

  # OTEL Collector
  collector:
   image: otel/opentelemetry-collector:latest
   volumes:
     - ./collector/config.yml:/etc/collector-gateway.yaml
   command: [ "--config=/etc/collector-gateway.yaml" ]
   ports:
     - "1888:1888"   # pprof extension
     - "13133:13133" # health_check extension
     - "4317:4317"        # OTLP gRPC receiver
     - "4318:4318"        # OTLP HTTP receiver
     - "55670:55679" # zpages extension
   depends_on:
     - jaeger
     - zipkin

### APPS
  #java producer
  chuck-fact-producer :
    build:
      context: ../java/fact-producer
      dockerfile: Dockerfile 
      args: 
        OTEL_VERSION: 2.23.0
        PROMETHEUS_AGENT_VERSION: 1.5.0
        APP_NAME: chuck-fact-producer 
        COLLECTOR_ENDPOINT: http://collector:4318
    ports:
      - "38080:38080"
    volumes:
      - ./shared-assets/jmx-exporter/:/usr/share/jmx-exporter 
    depends_on:
      - collector

  #java consumer
  chuck-fact-consumer:
    build:
      context: ../java/fact-consumer
      dockerfile: Dockerfile 
      args:
        OTEL_VERSION: 2.23.0
        PROMETHEUS_AGENT_VERSION: 1.5.0
        APP_NAME: chuck-fact-consumer 
        COLLECTOR_ENDPOINT: http://collector:4318  
    volumes:
      - ./shared-assets/jmx-exporter/:/usr/share/jmx-exporter 
    depends_on:
      - collector

  #Kafka Streams
  chuck-fact-wordcount-kstream:
    build:
      context: ../java/fact-wordcount-kstream
      dockerfile: Dockerfile 
      args:
        OTEL_VERSION: 2.23.0
        PROMETHEUS_AGENT_VERSION: 1.5.0
        APP_NAME: chuck-fact-wordcount-kstream
        COLLECTOR_ENDPOINT: http://collector:4318
    volumes:
      - ./shared-assets/jmx-exporter/:/usr/share/jmx-exporter 
    depends_on:
      - collector

  # Another Consumer
  chuck-wordcount-consumer:
    build:
      context: ../java/wordcount-consumer
      dockerfile: Dockerfile 
      args:
        OTEL_VERSION: 2.23.0
        PROMETHEUS_AGENT_VERSION: 1.5.0
        APP_NAME: chuck-wordcount-consumer
        COLLECTOR_ENDPOINT: http://collector:4318  
    volumes:
      - ./shared-assets/jmx-exporter/:/usr/share/jmx-exporter 
    depends_on:
      - collector

  # Consumer/Producer App
  chuck-fact-stats:
    build:
      context: ../java/fact-stats-java
      dockerfile: Dockerfile 
      args:
        OTEL_VERSION: 2.23.0
        PROMETHEUS_AGENT_VERSION: 1.5.0
        APP_NAME: chuck-fact-stats
        COLLECTOR_ENDPOINT: http://collector:4318
    volumes:
      - ./shared-assets/jmx-exporter/:/usr/share/jmx-exporter 
    depends_on:
      - collector

  # YET another consumer
  chuck-fact-stats-consumer:
    build:
      context: ../java/stats-consumer
      dockerfile: Dockerfile 
      args:
        OTEL_VERSION: 2.23.0
        PROMETHEUS_AGENT_VERSION: 1.5.0
        APP_NAME: chuck-fact-stats-consumer
        COLLECTOR_ENDPOINT: http://collector:4318  
    volumes:
      - ./shared-assets/jmx-exporter/:/usr/share/jmx-exporter 
    depends_on:
      - collector 